<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono|Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script>
// Add new classes to existing elements on the page, in this case the category dropdown button
// Also add to any content present after ajax request
function updateClassesOnCategorySelector() {
  $("ol.category-breadcrumb>li:first>a").addClass("dropdown-header home");
}
$(document).ready(function() {
  updateClassesOnCategorySelector();
});
$(document).ajaxComplete(function() {
  updateClassesOnCategorySelector();
});
</script>
